
// Home Styles
//------------------------

@include keyframes(slideLeft) {
	0% {
		left: 100%;
		top: 0%;
	}
	100% {
		left: 0%;
		top: 0%;
	}
	// 100% {
	// 	position: relative;
	// 	left: 0;
	// 	top: 0;
	// }
}

body#home {
	@include smallMedia() {
		position: relative;
		top: 0;
		height: 100vh;
		overflow: hidden;
		@include transition(0.6s, $curve2);

		&.scroll {
			top: -100vh;
		}
	}
}

.content {
	clear: both;

	main {
		position: relative;

		.main-scroll {
			background-color: $second-color;
			box-shadow: $box-shadow-inset;

			h1 {
				margin-bottom: 50px;
				color: $white;
			}

			&.next-page {
				position: absolute;
				z-index: 3;
				left: 100%;
				top: 0;
				width: 100%;
				min-height: 100%;
				@include animation(slideLeft, 0.6s);
			}
		}
	}
	@media (min-width: $mobile) {
		main {
			height: 100vh;

			.main-scroll {
				height: 100%;
				overflow-y: auto;
			}
		}

		// Flexbox layout...
		@include canFlex() {
			@include flexParent();

			.side-nav {
				@include flexChild(0 1 30vw);
			}
			main {
				@include flexChild(1 1 auto);
			}
		}
	} // end media
}