
.content {
	.mobile-nav-btn {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px 0;
		background-color: $base-color;
		text-align: center;
		text-shadow: $text-shadow;
		box-shadow: $box-shadow;

		h1 {
			margin: 0;
			font-size: 1.8rem;
			border-bottom: none;
		}
	}
	
	.side-nav {
		position: fixed;
		z-index: 10;
		top: -100%;
		width: 100%;
		max-height: 100%;
		overflow-y: auto;
		padding: 10px 0 35px;
		background-color: $base-color;
		@include transition();
		text-align: center;

		&.open {
			top: 0;
		}
		.up-button {
			display: none;
		}
		.mobile-up-button,
		.up-button {
			padding: 0;
			margin-bottom: 15px;
			font-size: 2rem;
			line-height: 0.9em;
		}
		h1 {
			padding: 0 15px 5px;
			font-size: 2rem;
			text-shadow: $text-shadow;
		}
		nav {
			.nav-item {
				display: block;
				@extend h3;
				margin: 0;
				padding: 15px 20px 14px;
				color: $white;
				cursor: pointer;

				.icon-arrow {
					&:after {
						margin-left: 5px;
					}
				}

				.sub-nav {
					background-color: $white;

					.nav-item {
						color: $base-color;
					}
				}
				&.nav-parent {
					padding-bottom: 5px;

					.icon-arrow {
						display: inline-block;
						margin-bottom: 5px;
					}
				}
			}
		}
		.bottom-nav {
			padding: 30px 8px 0px;
			text-align: center;
			font-size: 0.8rem;
			color: $white;

			a,
			p {
				display: inline-block;
				padding: 0 10px;
			}
			a {
				color: $white;
				text-decoration: none;
				@include transition();

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	@media (min-width: $mobile) {
		.mobile-nav-btn {
			display: none;
		}
		.side-nav {
			position: relative;
			overflow-y: auto;
			height: 100vh;
			padding: 0;
			
			.up-button {
				display: inline-block;
				@include centerX();
				top: 20px;
				padding: 20px;
				cursor: pointer;
			}
			.mobile-up-button {
				display: none;
			}
			.side-nav-cont {
				// @include centerMe();
				position: relative;
				min-height: 100%;
				width: 100%;
				padding: 30vh 0 50px;
				text-align: center;

				h1 {
					margin-bottom: 40px;
					font-size: 2.8em;
				}
			}
			nav {
				.nav-item {
					@include transition();

					.sub-nav {
						max-height: 0;
						overflow: hidden;
						@include transition();

						.nav-item {
							&:hover {
								color: $white;
								background-color: $base-color;
							}
						}
					}

					&:hover {
						background-color: $white;
						color: $base-color;

						.icon-arrow {
							&:after {
								border-top-color: $second-color;
							}
						}
					}
					&.nav-parent {
						padding-bottom: 14px;

						.icon-arrow {
							display: inline;
							margin: 0;
						}
					}
					&.open {
						background-color: $white;
						color: $base-color;

						.icon-arrow {
							&:after {
								border-top-color: $second-color;
							}
						}

						.sub-nav {
							max-height: 400px;
							margin-top: 10px;
						}
					}
				}
			}

			.bottom-nav {
				@include centerX();
				bottom: 0;
				width: 100%;
				padding: 0;
			}
		}
	} // end media
}